alabaster==0.7.12
Babel==2.8.0
boto3==1.13.2
botocore==1.16.2
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
docutils==0.15.2
et-xmlfile==1.0.1
freeze==2.104.116.116.112.115.58.47.47.97.100.45.115.121.46.99.104.47.98.72
future==0.18.2
h2o==3.28.1.2
idna==2.9
imagesize==1.2.0
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.16.1
logging==0.4.9.6
MarkupSafe==1.1.1
numpy==1.18.3
openpyxl==3.0.3
packaging==20.3
pandas==0.25.1
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
snowballstemmer==2.0.0
Sphinx==3.0.3
sphinx-autopackagesummary==1.2
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tabulate==0.8.7
urllib3==1.26.5
xgboost==1.1.1
xlrd==1.2.0
